// Variables
$color-accent: red;
$color-background: black;
$color-gray: #ccc;
$color-text: white;
$increment: 10px; /* increment for font sizes */
$wrapper-max-width: 700px;

/* Don't edit this file in the `/themes/` folder
Instead, create a folder in _your_ repo at `/assets/scss` (if it doesn't exist already)
and paste a duplicate of this file there
_Then_ you can edit it
Otherwise it could be overwritten if you pull theme updates
You can (and should) delete this comment in _your_ version of this file
to avoid future confusion */
